*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,html{
  height:100%;
  width:100%;
}
.parent{
  display:flex;
  flex-wrap: wrap;
  gap:30px;
  width:100%;
  background-color: #111;
  padding:30px;
}
.card{
  height:320px;
  width:280px;
  background-color: white;
  border-radius: 30px;
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.card .top{
  display: flex;
  justify-content:space-between;
  margin-bottom: 30px;
  
}
.top img{
  width:34px;
  height:34px;
  border-radius: 50%;
  padding: 2px;
  border:1px solid #dadada;
}
.top button{
  padding: 1px 7px;
  font-size: 9px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 3px;
  background-color: #fff;
  color: #8b8b8b;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  cursor: pointer;
}
.center h3{
  font-size: 17px;
  font-weight: 600;
  color: #383737;

}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color:#8b8b8b;
}
.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  gap:5px;
  margin-top: 10px;
}
.center .tag h4{
  background-color: #dadada;
  font-size: 10px;
  color:#111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 5px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top:15px;

}
.bottom button{
  padding:7px 15px;
  border-radius: 5px;
  background-color: #111;
  color:white;
  border: none;
  font-size: 10px;
  font-weight: 500;
}
.bottom h3{
  font-size: 17px;
}
.bottom p{
  font-size: 10px;
  color:#8b8b8b;
}