.card{
    width:300px;
    max-width: 90%;
    height:450px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap:10px;
    flex-direction: column;
   
}
.card .images{
    width:100%;
    height:65%;
    overflow: scroll;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 6px;
}
.images img{
    width:100%;
    height: 100%;
    flex-shrink: 0;
}
.cardspan1{
    font-size: 17px;
    font-weight: 300;
    color: black;
}
.cardspan2{
    font-size: 15px;
    font-weight: 300;
    color: #908e8e;

}