#login {
  margin-top: 30px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
#login form {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#logintitle {
  font-size: 40px;
  font-weight: 300;
  color: black;
  margin-bottom: 30px;
}
#login .list {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
#login .list label {
  font-size: 17px;
  font-weight: 300;
  color: black;
}
#login .list input {
  width: 90%;
  padding: 2px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid rgb(71, 71, 70);
  color: #000;
}
#loginbtn {
  padding: 10px 40px 10px 40px;
  background-color: rgb(247, 8, 8);
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;

  cursor: pointer;
}
