#contact{
    margin-top: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
#contact form{
    width:70%;
    height:100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap:10px;
}

#contacttitle{
    font-size: 40px;
    font-weight: 300;
    color:black;
    margin-bottom: 30px;

}
#contact .list{
    width:100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
#contact .list label{
    font-size:17px;
    font-weight: 300;
    color: black;
}
#contact .list input{
    width:90%;
    padding: 2px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    border: 1px solid rgb(71,71,70); 
    color: #000;
}
#contactbtn{
    padding:10px 40px 10px 40px;
    background-color: rgb(247, 8, 8);
    color:white;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-top: 20px;
    
    cursor: pointer;
}