#Listing {
  margin-top: 240px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
}
#Listing form {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

#listingtitle {
  font-size: 40px;
  font-weight: 300;
  color: black;
  margin-bottom: 25px;
}
#Listing .list {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
#Listing .list label {
  font-size: 18px;
  font-weight: 300;
  color: black;
}
#Listing .list input {
  width: 90%;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid rgb(71, 71, 70);
  color: #000;
  margin-bottom: 5px;
}
#Listing .list textarea {
  width: 90%;
  padding: 3px;
  box-sizing: border-box;
  outline: none;
  font-size: 15px;
  font-weight: 300;
  border: 1px solid rgb(71, 71, 70);
  color: #000;
  margin-bottom: 5px;
}
#listbtn {
  padding: 10px 40px 10px 40px;
  background-color: rgb(247, 8, 8);
  color: white;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  cursor: pointer;
}
#listbtn svg {
  width: 20px;
  height: 20px;
  color: white;
}
