#home{
    margin-top: 170px;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    background-color: white;
}