#Nav{
    width:100%;
    height:160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nav1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height: 50%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    border-bottom:0.5px solid rgba(117,111,111,0.479)
}
.nav2{
    width:100%;
    height: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.svg11{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:5px;
}
.svg11 svg{
    width:25px;
    height:25px;
    color: black;
}
.svg11 h3{
    font-size: 12px;
    color:rgb(56,56,56);
    font-weight: 300;
}
.logo{
    display:flex;
    align-items: center;
    justify-content: center;

}
.logo h1{
    font-size: 20px;
    font-weight: 800;
    color:rgba(247, 8, 8, 0.774);
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.search input{
    width:250px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid rgba(125,122, 122, 0.416);
    font-size: 15px;
    color: black;
    outline: none;
    cursor: pointer;
}
.search button{
    padding:10px;
    background-color: rgb(247, 8, 8);
    color:white;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    transition:all 0.2s;
    cursor: pointer;
}
.search button:hover{
    border:2px solid red;
    background-color: transparent;
    color:red;

}
.search button:hover svg{
    color:red;
}

.search svg{
    width:20px;
    height: 20px;
    color: white;
}
.ham{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.ham #btn1{
    padding:10px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.719);
    border: none;
    cursor: pointer;
    background-color: white;
    transition: all 0.2s;

}
.ham #btn1:hover{
    background-color: rgba(232,230,230,0.844);
}
.ham #btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px ;
    padding:10px 20px 10px 20px;
    border-radius: 30px;
    border: 1px solid rgba(125,122, 122, 0.416);
    background-color: white;
    cursor: pointer;
    transition: all 0.2s;
}
#svg1{
    width:18px;
    height:18px;
    fill:rgba(92,89,89,0.651);
}
#svg2{
    width:25px;
    height:25px;
    fill:rgba(92,89,89,0.651);

}
#btn2:hover{
    box-shadow: 1.5px 1.5px 5px black;
}
.hamburger{
    position:absolute;
    width:220px;
    height:220px;
    background-color: white;
    right:2%;
    top:40%;
    box-shadow: 2px 2px 10px rgb(80,78,78);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    
}
.ham1{
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
    color: black;
    font-weight: 400;
    cursor: pointer;
}
.ham1:hover{
    background-color: rgba(232, 230, 230, 0.844);
    border-radius: 30px;
    width:100%;
}
a.active{
    border-bottom: 2px solid rgb(95, 94, 94);
    margin-bottom: 5px;
}
@media(max-width:900px){
    #btn1{
        display: none;
    }
}
@media(max-width:700px){
    .logo h1{
        display: none;
    }
    .nav1{
        overflow: hidden;
        padding: 10px;
    }
    .nav2{
        overflow-y: hidden;
        overflow-x: scroll;
        justify-content: start;
        padding: 10px;
    }
    .svg11{
        flex-shrink: 0;
        scrollbar-width:thin;
    }
    .search input{
        width:180px;
        font-size: 15px;
    }
    .search span{
        display: none;
    }
}
@media(max-width:450px){
    .ham #btn2{
        border:none;
    }
    #svg2{
        display: none;
    }
    #svg1{
        width:25px;
        height: 25px;
        fill: black;
    }
}